                * {
                    padding: 0px;
                    margin: 0px;
                    font-family: 'Trebuchet MS';
                }
                
                .container {
                    max-width: 1170px;
                    margin: 0px auto;
                }
                
                .logo-nav {
                    height: 123px;
                    width: 100%;
                    background-color: #e7e7e7;
                }
                
                header {
                    background-color: #e7e7e7;
                }
                
                .logo {
                    height: 100px;
                    width: 50%;
                    float: left;
                    padding-left: 116px;
                    box-sizing: border-box;
                    padding-top: 32px;
                }
                
                .navbar {
                    float: left;
                    width: 50%;
                    height: 100px;
                    box-sizing: border-box;
                    padding-top: 35px;
                    padding-right: 20px;
                    padding-left: 66px;
                }
                
                .navbar ul li {
                    display: inline;
                    padding: 6px;
                    color: #4e4e4e;
                }
                
                .navbar a:hover {
                    color: #1abb9c;
                    transition: 1ms;
                }
                
                .navbar a {
                    text-decoration: none;
                    color: #4e4e4e;
                    font-weight: 600;
                }
                
                .banner-image img {
                    width: 100%;
                }
                
                .clearfix::after {
                    display: table;
                    content: '';
                    clear: both;
                }
                
                .image1 {
                    height: 200px;
                    width: 25%;
                    float: left;
                    text-align: center;
                    box-sizing: border-box;
                    padding: 0px 20px;
                }
                
                .image1 img {
                    margin-bottom: 10px;
                    margin-top: 30px;
                }
                
                .image1 p {
                    margin-top: 8px;
                }
                
                .image1 h3 {
                    color: #4e4e4e;
                }
                
                .Third-Section {
                    padding: 0px 33px;
                }
                
                .divider {
                    margin: 100px 150px 50px 150px;
                    border-bottom: 3px solid #dcdcdc;
                }
                
                .our {
                    margin-left: 59px;
                    margin-bottom: 30px;
                }
                
                .fifth-items {
                    width: 33.33%;
                    float: left;
                    box-sizing: border-box;
                    padding: 0px 10px;
                }
                
                .fifth-items img {
                    width: 100%;
                }
                
                .fifth-section {
                    height: 400px;
                    margin: 0px 43px;
                    max-width: 1300px;
                }
                
                .fifth-items h3 {
                    margin-bottom: 8px;
                    color: #4e4e4e;
                }
                
                .fifth-items p {
                    margin-bottom: 10px;
                    line-height: 25px;
                }
                
                .testimonial {
                    text-align: center;
                    background-color: #efefef;
                    padding-top: 53px;
                    height: 180px;
                    margin-top: 60px;
                    width: 100%;
                    box-sizing: border-box;
                }
                
                .testimonial img {
                    text-align: center;
                }
                
                .testimonial p {
                    text-align: center;
                    font-weight: 550;
                    color: #a1a1a1;
                    line-height: 30px;
                }
                
                .foot {
                    background-color: #1f1f1f;
                    height: 450px;
                }
                
                .boxes {
                    width: 23%;
                    float: left;
                    height: 250px;
                    font-size: 12px;
                    padding: 0px 10px;
                }
                
                .boxes p {
                    margin-bottom: 20px;
                    line-height: 25px;
                    color: #cacaca;
                }
                
                .boxes h3 {
                    margin-top: 40px;
                    margin-bottom: 10px;
                    color: #6c6c6c;
                }
                
                .boxes ul li {
                    list-style-image: url(./tweet.png);
                    color: #cacaca;
                    line-height: 25px;
                }
                
                .footer {
                    margin: 0px auto;
                }
                
                .border-bottom-footer {
                    border-bottom: 2px solid #353535;
                    margin: 100px 50px 0px 50px;
                }
                
                footer {
                    background-color: #1f1f1f;
                }
                
                #copyright {
                    margin-top: 40px;
                    color: #cacaca;
                    margin-left: 40px;
                }
                /* Media Queries to make the website fully responsive */
                
                @media(max-width:790px) {
                    .logo {
                        height: auto;
                        width: 100%;
                        float: none;
                        padding-left: 0px;
                        text-align: center;
                    }
                    .navbar {
                        float: none;
                        width: 100%;
                        padding-top: 20px;
                        padding-left: 0px;
                    }
                    .navbar ul li {
                        float: none;
                        width: 100%;
                        text-align: center;
                        padding: 0px;
                        display: block;
                        position: relative;
                        margin-top: 20px;
                    }
                    .image1 {
                        height: auto;
                        width: 100%;
                    }
                    .fifth-section {
                        height: auto;
                    }
                    .fifth-items {
                        width: 100%;
                        float: none;
                        padding: 0px;
                    }
                    .fifth-items h3,
                    p {
                        text-align: center;
                    }
                    .our h3 {
                        text-align: center;
                    }
                    .testimonial {
                        padding-bottom: 50px;
                        box-sizing: border-box;
                        height: auto;
                        width: 100%;
                    }
                    .testimonial p {
                        text-align: center;
                        width: 100%;
                    }
                    .boxes {
                        width: 100%;
                        float: none;
                        height: auto;
                        text-align: center;
                    }
                    .boxes ul li {
                        list-style-image: url(./tweet.png);
                    }
                    .foot {
                        height: auto;
                    }
                    .divider {
                        margin: 100px 100px 50px 100px;
                    }
                }