* {
    padding: 0px;
    margin: 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* Logo-Nav */

.header {
    background: #151515;
}

#nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul li {
    display: inline-block;
    color: white;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav a:hover {
    color: green;
    transition: 0.7s ease;
}

.nav ul li a::after {
    content: '/';
    color: green;
    margin: 0px 15px;
}


/* Banner Image */

.banner-image {
    background-image: url(./banner.jpg);
    height: 430px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.banner button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    border-radius: 3px;
    letter-spacing: 1.5px;
}

.banner h1 {
    color: white;
    font-size: 65px;
}

.banner {
    padding-top: 80px;
}

.banner p {
    color: white;
    margin: 16px 0px;
    font-size: 30px;
}


/* thumb images */

.images-thumb {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 50px 0px;
}

.images-thumb h3 {
    color: #968888;
}

.boxes {
    padding: 0px 10px;
}

.hr-heading {
    position: relative;
}

.hr-heading h2 {
    position: absolute;
    top: -15px;
    transform: translateX(-50%);
    left: 50%;
    background: green;
    border: none;
    letter-spacing: 1px;
    padding: 2px 15px;
    color: white;
}


/* Image+lorem text */

#img-lorem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}

.line-drop {
    position: relative;
}

.line-drop h2 {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -15px;
    border: none;
    color: white;
    background: green;
    padding: 5px 15px;
    letter-spacing: 1px;
}


/* Footer Part */

#footer-section {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.left-section {
    display: flex;
}

.left-section img {
    display: flex;
    margin-top: 13px;
}

.left-section p {
    margin-top: 26px;
    margin-left: 7px;
}

#ahsan {
    margin-top: 40px;
}


/* About Media Queries */


/* For Mobile Phones */

@media (min-width:240px) and (max-width:512px) {
    #nav-logo {
        flex-direction: column;
    }
    .banner-image {
        height: 380px;
        text-align: center;
    }
    .banner h1 {
        font-size: 30px;
    }
    .images-thumb {
        flex-direction: column;
    }
    .nav ul li a::after {
        margin: 0px 9px;
    }
    .nav a {
        font-size: 13px;
    }
    #img-lorem {
        flex-direction: column;
    }
    #footer-section {
        flex-direction: column;
        align-items: center;
    }
    .hr-heading h2 {
        width: 317px;
    }
    .line-drop h2 {
        width: 203px;
    }
    #img-lorem {
        text-align: center;
    }
}

@media (min-width:513px) and (max-width:1000px) {
    .images-thumb {
        flex-direction: column;
    }
    .banner {
        text-align: center;
    }
    .nav a {
        font-size: 15px;
    }
}