*{
    font-family: 'Bebas Neue';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 1230px;
    margin: 0 auto;
}
.header{
    background-image: url(./Rectangle.png);
    height: 700px;
    padding-top: 20px;
    margin-bottom: 40px;
    
}
.logo-nav{
    display: flex;
    justify-content: space-between;
}
.above-nav{
    display: flex;
    flex-direction:row-reverse
}
.delivery p{
    letter-spacing: 2px;
}
.links ul{
    display: flex;
    
}
.links{
    display: flex;
    flex-direction: row-reverse;
    

}
 
.delivery{
    display: flex;
}
ul li{
    
    list-style: none;
    margin-top: 15px;
}
a{
    text-decoration: none;
    padding-left: 50px;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
}
.left_right{
    margin-top: 90px;
}
.left_right{
    display: flex;
    justify-content: space-between;

}  
.right-image{
    position: relative;
}

    .rate {
        position: absolute;
        top: 287px;
        right: 427px;
        color: white;
       
    }


.right-image img{
    margin-top: -142px;
    width: 100%;
    height: 700px;
}
.right-image h2{
    position: absolute;
    top: 20px;
}
.left-text{
    padding-top: 150px;
}
.left-text p{
    border-style:dashed;
    padding: 5px 5px; 
    color: #573a1d;
    margin-bottom: 25px;
    display: inline-block;
}
 
.left-text h1{
    font-size:30px;
    color: #573a1d;
}

/* Popular Burger */
.popular-burger{
    display: flex;
    justify-content: space-between;
    
}
.left-popular,.right-popular img{
    width: 100%;
    margin-top: 23px;
}

/* Always Tasty */
.tasty-part{
    text-align: center;
}
.tasty-part h3{
    background: #ffc045;
    padding: 3px 15px;
    margin-top: 34px;
    display: inline-block;
    color: #3d2514;
}
.tasty-part h1{
    font-size: 60px;
    margin: 22px 0px;
    color: #3d2514;
}
.left-popular h3{
    position: absolute;
    top: 779px;
    left: 53px;
    font-size: 28px;
    color: white;
    letter-spacing: 4px;
}
.tasty-part p{
    color: #3d2514;
    margin-bottom: 50px;
}

/* Thumb Burger Image */
.burger-thumb{
    display: flex;
    justify-content: space-between;
}
.thumb img{
    width: 100%;
}
.thumb h2{
    color: #3d2514;
}
.thumb{
    text-align: center;
}
.thumb1 h2{
    margin-top: 26px;
    color: #3d2514;
}
.thumb h3,.thumb1 h3{
    background: #bf2222;
    display: inline-block;
    color: white;
    padding: 8px 29px;
    letter-spacing: 2px;
    margin-bottom: 90px;
}
.thumb p,.thumb1 p{
    font-family: 'Montserrat';
    margin: 15px 0px;
    font-weight: 600;;
}


/* Upcoming Events */
.snaps{
    display: flex;
    justify-content: space-between;
}
.snap1 img{
    width: 100%;
    height: 350px;
}
.events{
    border: 2px solid white;
    border-top: 0px;
    border-left: 0px;
    margin-bottom: 50px;
    box-shadow: 12px 12px 10px 2px #dbdbdb;
}

.snap1 h2 {
    font-size: 43px;
    color: #3d2514;
}        
.snap1 p {
    font-family: 'Montserrat';
    color: black;
    font-weight: 600; 
    
}
.circle{
    
}
.circle ul li{
    list-style-type: circle;
    font-size: 30px;

}
/* Booking */
.line1{
    display: flex;
    justify-content: center;
}
.booking{
    text-align: center;
    position: relative;
}
.line1 input{
    margin: 10px 10px;
    padding: 10px 64px;
    border-radius: 5px;
    border-color: #bebebe;
    
    
}
.line1 input[type="button"]{
    margin: 10px 10px;
    padding: 10px 80px;
    border-radius: 5px;
    background: #bf2222;
    border: none;
    color: white;
    font-size: 21px;
    box-sizing: border-box;

}
.top-book h1 {
    font-size: 60px;
    color: #3d2514;
    margin: 14px 0px;
    letter-spacing: 2px;
    display: inline-block;
}
.top-book h3{
    display: inline-block;
}
.top-book h3 {
    margin-top: 150px;
}
.line1 input::placeholder{
    color: black;
}
.table01 {
 
        position: absolute;
        left: -50px;
        height: 97px;
    }
.table02{
    position: absolute;
    left: 218px;
    top: 254px;
} 
.table03 {
    position: absolute;
    right: -40px;
    top: 250px;
}  
.table02 img{
    height: 282px;
} 
.table03 img{
    height: 400px;
}
/* Footer */
.footer-part{
    background: url(./footer-image.png);
    height: 580px;
   margin-top: 120px;
   width: 100%;
   background-repeat:no-repeat ;
   padding: 60px 40px;
}
.footer-section{
    display: flex;
    justify-content: space-between;
}
.foot-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foot-right p{
    color: white;
    margin-left: 20px;
    margin-top: 4px;
}
.location{
    display: flex;
    margin-top: 30px;
    
}
.location div p{
    letter-spacing: 0.5px;
}
.foot-left p{
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
}

.para {
    margin-top: 60px;
    color: white;
    margin-bottom: 140px;
    line-height: 25px;
    letter-spacing: .5px;
    font-family: 'Montserrat';
    font-weight: 600;
}





 

