                                        /* @font-face {
    font-family: 'Myriad Pro';
    src: url('fonts1/MyriadPro-Regular.eot');
    src: url('font1/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('font1/MyriadPro-Regular.woff2') format('woff2'), url('font1/MyriadPro-Regular.woff') format('woff'), url('font1/MyriadPro-Regular.ttf') format('truetype'), url('font1/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*/
                                        
                                        body {
                                            font-family: 'PT Sans';
                                        }
                                        
                                        * {
                                            padding: 0px;
                                            margin: 0px;
                                        }
                                        
                                        .container {
                                            max-width: 1280px;
                                            margin: 0px auto;
                                        }
                                        
                                        header {
                                            background-color: black;
                                        }
                                        
                                        #nav_logo {
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            height: 80px;
                                        }
                                        
                                        .nav ul {
                                            list-style: none;
                                        }
                                        
                                        .nav ul li {
                                            text-decoration: none;
                                            display: inline-block;
                                        }
                                        
                                        .nav a {
                                            text-decoration: none;
                                            color: white;
                                            padding: 0px 15px;
                                        }
                                        
                                        .form-container {
                                            background-image: url(./bg-image.png);
                                            background-repeat: no-repeat;
                                            height: 642px;
                                        }
                                        /* Adjusting left side  */
                                        
                                        .left h1 {
                                            color: white;
                                            margin-top: 25px;
                                            margin-bottom: 25px;
                                        }
                                        
                                        .left hr {
                                            width: 13%;
                                            margin-bottom: 28px;
                                        }
                                        
                                        .left {
                                            flex-basis: 47%;
                                        }
                                        
                                        .left img {
                                            margin-top: 110px;
                                        }
                                        /* TO create a same space between both div's */
                                        
                                        #left_right {
                                            display: flex;
                                            justify-content: space-between;
                                        }
                                        
                                        .left input {
                                            background: transparent;
                                            padding: 11px 26px;
                                            border: 2px solid white;
                                            color: white;
                                        }
                                        
                                        .left p {
                                            color: white;
                                            margin-bottom: 30px;
                                        }
                                        /* Right side */
                                        
                                        .right {
                                            width: 360px;
                                            background: white;
                                            text-align: center;
                                            width: 362px;
                                            height: auto;
                                            margin-top: 140px;
                                            border-top-left-radius: 5px;
                                            border-top-right-radius: 5px;
                                            border-bottom-left-radius: 5px;
                                            border-bottom-right-radius: 5px;
                                            overflow: hidden;
                                        }
                                        
                                        .top {
                                            background-color: #f5f5f5;
                                            padding: 18px 5px;
                                            box-sizing: border-box;
                                        }
                                        
                                        .right span {
                                            color: #ff9b51;
                                        }
                                        
                                        .mid input {
                                            max-width: 100%;
                                            padding: 13px 90px;
                                            box-sizing: border-box;
                                            border: none;
                                            border-bottom: #d6d6d6 1px solid;
                                            margin: 10px 12px;
                                            padding-left: 7px
                                        }
                                        
                                        .bottom button {
                                            width: 100%;
                                            background: #ff9b51;
                                            height: 52px;
                                            border: none;
                                            font-size: 18px;
                                            margin-top: 24px;
                                            color: white;
                                        }
                                        /* Social Links */
                                        
                                        #container {
                                            display: flex;
                                            justify-content: space-between;
                                            padding: 30px 0px;
                                        }
                                        
                                        .social-media {
                                            background: white;
                                            height: auto;
                                            border-bottom: 2px solid #d6d6d6;
                                        }
                                        
                                        .left-social p {
                                            color: #a9aaac;
                                            margin-top: 8px;
                                        }
                                        
                                        .trans-effect {
                                            background: #f5f5f5;
                                            height: 400px;
                                        }
                                        /* Below Social Links */
                                        
                                        .trans-effect {
                                            height: auto;
                                        }
                                        
                                        .left-transition div h2 {
                                            border: 2px solid #333333;
                                            padding: 40px 30px;
                                            box-sizing: border-box;
                                            margin-bottom: 2px;
                                            background: #333333;
                                            color: white;
                                            font-weight: 100;
                                            font-size: 16px;
                                        }
                                        
                                        #tab_item h2 {
                                            background: #ff9b51;
                                            border: #ff9b51;
                                            border-top-left-radius: 5px;
                                            border-top-right-radius: 5px;
                                        }
                                        
                                        #border-radius {
                                            border-bottom-left-radius: 5px;
                                            border-bottom-right-radius: 5px
                                        }
                                        
                                        #left_mid_right {
                                            display: flex;
                                            justify-content: space-between;
                                            padding: 115px 0px;
                                        }
                                        
                                        .mid-transition p {
                                            margin: 30px 0px;
                                            color: #86878b;
                                        }
                                        
                                        .mid-transition button {
                                            padding: 10px 10px;
                                            background: #ff9b51;
                                            color: white;
                                            border: 1px solid #ff9b51;
                                            border-radius: 5px;
                                        }
                                        
                                        .mid-transition h3 {
                                            font-size: 23px;
                                        }
                                        /* Sublist items */
                                        
                                        #Sub_list {
                                            display: flex;
                                            justify-content: space-between;
                                        }
                                        
                                        .Sublist {
                                            padding: 90px 0px;
                                        }
                                        
                                        .right-list hr {
                                            margin: 20px 0px;
                                            height: 3px;
                                            width: 77px;
                                            border: none;
                                            background: #ff9b51;
                                        }
                                        
                                        .right-list p {
                                            margin-bottom: 40px;
                                            color: #a4a5a8;
                                        }
                                        
                                        .title img {
                                            margin-right: 25px;
                                            margin-top: 5px
                                        }
                                        
                                        .download1 {
                                            display: flex;
                                        }
                                        /* Standard picturs section */
                                        
                                        .standard {
                                            background: #f5f5f5;
                                            height: auto;
                                            padding-top: 100px;
                                            padding-bottom: 40px;
                                        }
                                        
                                        #standard_section {
                                            display: flex;
                                        }
                                        
                                        .left_standard hr {
                                            height: 3px;
                                            background: #ff9b51;
                                            border: none;
                                            width: 67px;
                                            margin: 20px 0px;
                                        }
                                        
                                        .left_standard p {
                                            margin-bottom: 25px;
                                            color: #a9aaac;
                                            margin-bottom: 40px;
                                        }
                                        /* About owesome section */
                                        
                                        .awesome {
                                            padding: 90px 0px;
                                            box-sizing: border-box;
                                        }
                                        
                                        .why {
                                            text-align: center;
                                        }
                                        
                                        .why h1 {
                                            letter-spacing: 3px;
                                        }
                                        
                                        .why p {
                                            margin-bottom: 80px;
                                            color: #a4a5a8;
                                        }
                                        
                                        .why hr {
                                            height: 3px;
                                            background: #ff9b51;
                                            border: none;
                                            width: 90px;
                                            margin: 20px auto;
                                        }
                                        
                                        .thoughts {
                                            display: flex;
                                            justify-content: space-between;
                                            width: 100%;
                                        }
                                        
                                        .thoughts div {
                                            flex-basis: 31%;
                                        }
                                        
                                        .thoughts h3 {
                                            margin: 15px 0px;
                                            letter-spacing: 1px;
                                        }
                                        /* Pricing Options */
                                        
                                        .pricing {
                                            background: #f5f5f5;
                                        }
                                        
                                        .pricing-options {
                                            text-align: center;
                                        }
                                        
                                        .pricing-options hr {
                                            height: 3px;
                                            background: #ff9b51;
                                            border: none;
                                            width: 50px;
                                            margin: 20px auto;
                                        }
                                        
                                        .pricing-options p {
                                            color: #86878b;
                                        }
                                        
                                        .pricing-cards {
                                            display: flex;
                                            justify-content: space-between;
                                        }
                                        
                                        .price-boxes1,
                                        .price-boxes2,
                                        .price-boxes3 {
                                            width: 30%;
                                        }
                                        
                                        #priced {
                                            text-align: center;
                                        }
                                        
                                        .price-boxes1 h3 {
                                            padding: 10px 0px;
                                        }
                                        
                                        .price-boxes1 h3,
                                        .price-boxes1 h2,
                                        .price-boxes1 h3,
                                        .price-boxes1 h4 {
                                            background: #333333;
                                            color: white;
                                        }
                                        
                                        .price-boxes1 h2 {
                                            font-size: 70px;
                                        }
                                        
                                        .price-boxes1 span {
                                            font-size: 30px;
                                        }
                                        
                                        .price-boxes1 h4 {
                                            font-size: 15px;
                                            font-weight: 100;
                                            letter-spacing: 1px;
                                        }
                                        
                                        .footer-price1 hr {
                                            height: 4px;
                                            background: #ff9b51;
                                            border: none;
                                        }
                                        
                                        .footer-price1 p {
                                            padding: 16px 0px;
                                            border-bottom: 1px solid #f5f5f5;
                                            color: #86878b;
                                        }
                                        
                                        .footer-price1 {
                                            background-color: white;
                                        }
                                        
                                        .header-price1 h4 {
                                            padding-bottom: 15px;
                                        }
                                        
                                        #container-padding {
                                            padding: 10px;
                                        }
                                        
                                        .space {
                                            padding: 70px 0px;
                                        }
                                        
                                        .pricing-options p {
                                            margin-bottom: 90px;
                                        }
                                        /* For Mid card because that card is little bit diffrent from both cards */
                                        
                                        .price-boxes2 h3 {
                                            padding: 10px 0px;
                                            background: #ff9b51;
                                            color: white;
                                        }
                                        
                                        .price-boxes2 h2,
                                        .price-boxes2 h4 {
                                            background: #333333;
                                            color: white;
                                        }
                                        
                                        .price-boxes2 h2 {
                                            font-size: 70px;
                                            color: white;
                                        }
                                        
                                        .price-boxes2 h4 {
                                            padding-bottom: 10px;
                                        }
                                        
                                        .price-boxes2 p {
                                            padding: 13px 0px;
                                            border-bottom: 1px solid #f5f5f5;
                                            color: #868686;
                                        }
                                        
                                        .footer-price2 {
                                            background: white;
                                        }
                                        /* Customers are saying */
                                        
                                        .three-dummy {
                                            display: flex;
                                            justify-content: space-between;
                                        }
                                        
                                        .profile {
                                            display: flex;
                                        }
                                        
                                        .top-say {
                                            text-align: center;
                                        }
                                        
                                        .top-say h1 {
                                            letter-spacing: 1px;
                                        }
                                        
                                        .top-say hr {
                                            height: 3px;
                                            border: none;
                                            background: #ff9b51;
                                            width: 65px;
                                            margin: 15px auto;
                                        }
                                        
                                        .top-say p {
                                            margin-bottom: 50px;
                                        }
                                        
                                        .para-image {
                                            display: flex;
                                            justify-content: space-between;
                                        }
                                        
                                        .sub-info {
                                            display: flex;
                                            align-items: center;
                                        }
                                        
                                        .customer-info p {
                                            padding: 15px;
                                            background: #f5f5f5;
                                        }
                                        
                                        .image {
                                            margin-left: 23px;
                                        }
                                        
                                        .sub-info img {
                                            margin-right: 10px;
                                        }
                                        
                                        .sub-info h4 {
                                            font-size: 15px;
                                            color: #a4a5a8;
                                            font-weight: 200;
                                        }
                                        
                                        .customers {
                                            padding: 65px 0px;
                                        }
                                        /* Stylish Axure Section */
                                        
                                        .stylish {
                                            background: url(./axure-design.png);
                                            height: auto;
                                            background-repeat: no-repeat;
                                            padding: 60px 0px;
                                        }
                                        
                                        .axure-design {
                                            text-align: center;
                                        }
                                        
                                        .axure-design h2 {
                                            color: white;
                                            letter-spacing: 6px;
                                        }
                                        
                                        .axure-design hr {
                                            height: 3px;
                                            width: 100px;
                                            border: none;
                                            background: white;
                                            margin: 20px auto;
                                        }
                                        
                                        .axure-design p {
                                            color: white;
                                            margin-bottom: 30px;
                                        }
                                        
                                        .axure-design button {
                                            padding: 10px 30px;
                                            background: transparent;
                                            color: white;
                                            border: 2px solid white;
                                            font-size: 15px;
                                        }
                                        
                                        .form-message {
                                            display: flex;
                                            justify-content: space-between;
                                        }
                                        
                                        .form input {
                                            width: 100%;
                                        }
                                        
                                        .top-contact {
                                            text-align: center;
                                        }
                                        
                                        .top-contact h1 {
                                            letter-spacing: 2px;
                                        }
                                        
                                        .top-contact hr {
                                            height: 3px;
                                            background: #ff9b51;
                                            border: none;
                                            width: 100px;
                                            margin: 15px auto
                                        }
                                        
                                        .top-contact p {
                                            margin-bottom: 30px;
                                        }
                                        
                                        .right-form {
                                            width: 50%;
                                            float: left;
                                        }
                                        
                                        .left-form {
                                            width: 50%;
                                            float: left;
                                        }
                                        
                                        .right-form input {
                                            width: 90%;
                                            padding: 15px 0px;
                                            margin-bottom: 11px;
                                            border: none;
                                            border-bottom: 1px solid #86878b;
                                        }
                                        
                                        .left-form textarea {
                                            padding-bottom: 25px;
                                            width: 90%;
                                            float: right;
                                            resize: none;
                                            border: none;
                                            border-bottom: 1px solid #86878b;
                                            margin-top: 14px;
                                        }
                                        
                                        .contact {
                                            padding: 50px 0px;
                                        }
                                        
                                        .right-message-form {
                                            display: flex;
                                            justify-content: space-between;
                                        }
                                        
                                        .input-form input {
                                            width: 100%;
                                            padding: 14px 10px;
                                            margin-bottom: 27px;
                                            border: none;
                                            border-bottom: 1px solid #868686;
                                        }
                                        
                                        .textarea-form textarea {
                                            width: 531px;
                                            resize: none;
                                            height: 173px;
                                            border: none;
                                            border-bottom: 1px solid #868686;
                                            padding-top: 12px;
                                        }
                                        
                                        .button-message-form {
                                            text-align: center;
                                        }
                                        
                                        .button-message-form button {
                                            padding: 10px 25px;
                                            background: #ff9b51;
                                            border: none;
                                            border-radius: 3px;
                                            color: white;
                                        }
                                        
                                        footer {
                                            text-align: center;
                                            background: black;
                                            padding: 15px 0px;
                                            width: 100%;
                                        }
                                        
                                        footer img {
                                            width: 317px;
                                            height: 23px
                                        }
                                        /* Media Queries for responsive sites */
                                        /* For Tablet */
                                        
                                        @media (max-width:770px) {
                                            .right {
                                                display: none;
                                            }
                                            #left_right {
                                                justify-content: center;
                                            }
                                            #nav_logo {
                                                justify-content: space-around;
                                            }
                                            .right-social img {
                                                width: 330px;
                                                margin-right: 10px;
                                                margin-top: 20px;
                                            }
                                            .left-social {
                                                width: 100%;
                                                margin-left: 15px;
                                            }
                                            .left-social p {
                                                width: 100%;
                                            }
                                            #left_mid_right {
                                                flex-direction: column;
                                                justify-content: center;
                                                align-items: center;
                                                text-align: center;
                                            }
                                            #border-radius {
                                                margin-bottom: 15px;
                                            }
                                            .mid-transition p {
                                                width: 100%;
                                                margin-bottom: 15px;
                                            }
                                            .right-transition img {
                                                margin-top: 25px;
                                            }
                                            #Sub_list {
                                                flex-direction: column;
                                                align-items: center;
                                                text-align: center;
                                                width: 100%;
                                            }
                                            .title {
                                                width: 100%;
                                            }
                                            .right-list hr {
                                                margin: 20px auto;
                                            }
                                            .download1 p {
                                                width: 100%;
                                            }
                                            #standard_section {
                                                flex-direction: column;
                                                align-items: center;
                                                text-align: center;
                                            }
                                            .left_standard hr {
                                                margin: 20px auto;
                                            }
                                            .why {
                                                margin: 0px 3px;
                                            }
                                            .space {
                                                margin: 0px 10px;
                                            }
                                            @media (max-width:580px) {
                                                #nav_logo {
                                                    flex-direction: column;
                                                }
                                                .pricing-cards {
                                                    flex-direction: column;
                                                    align-items: center;
                                                }
                                                .price-boxes1,
                                                .diffrent-mids {
                                                    width: 80%;
                                                }
                                                .diffrent-mids {
                                                    margin: 15px 0px;
                                                }
                                                .thoughts {
                                                    flex-direction: column;
                                                }
                                                .para-image {
                                                    flex-direction: column;
                                                    align-items: center;
                                                    text-align: center;
                                                }
                                            }
                                        }
                                        
                                        `